Options +FollowSymLinks
IndexIgnore */*
RewriteEngine on

# Do not remove this line, otherwise mod_rewrite rules will stop working
RewriteBase /

# if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !\.(js|ico|gif|jpg|png|css)$

# processes
RewriteRule ^api\/v1\/processes[\/]?$ v1/processes.php [END]
# process
RewriteRule ^api\/v1\/processes\/([0-9]+)[\/]?$ v1/process.php?id=$1 [END]
# tags
RewriteRule ^api\/v1\/processes\/([0-9]+)\/tags[\/]?$ v1/process_tags.php?id=$1 [END]
# timeline
RewriteRule ^api\/v1\/processes\/([0-9]+)\/timeline[\/]?$ v1/process_timeline.php?id=$1 [END]
# tags id
RewriteRule ^api\/v1\/tags\/([0-9]+)[\/]?$ v1/tag.php?id=$1 [END]
# records
RewriteRule ^api\/v1\/tags\/([0-9]+)\/records[\/]?$ v1/tag_records.php?id=$1 [END,QSA]
# test
RewriteRule ^(.*)$ v1/index.php?req=$1 [END]
